<h1>Hello from Rails!</h1>
<h3>Learning is Fun!</h3>
<p>
  It is now <%= @time %>
</p>
<p>
  Time in one hour <%= @onehourtime %>
</p>
<p>
  string concat example <%= @concatString %>
</p>
<p>
  addition example <%= 1 + 2 %>
</p>

<ul>
  <% @files.each do |file| %>
    <li>
      file name is: <%= file %>
    </li>
  <% end %>
</ul>

<p>
  Time to say
  <%= link_to "Goodbye", say_goodbye_path %>!
</p>
